#homePage {
  .bg_photo {
    background-image: url("../images/bg_2.jpg");
    height: 100vh;
    width: 100vw;
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
  }

  #page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $background;
    z-index: 3;

    .spinner {
      width: 64px;
      height: 64px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../images/spinner.gif");
      background-repeat: no-repeat;
    }
  }

  .mobile_menu {
    background: $background;
    width: 100vw;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 99999;
    display: none;

    .hamburger {
      width: 31px;
      height: 45px;
      position: fixed;
      cursor: pointer;
      left: 8%;
      margin-left: -15px;
      top: 2%;
      z-index: 2;

      span {
        display: block;
        position: absolute;
        height: 1.5px * $hamsizemultiplier;
        width: 100%;
        background: $hambgcolor none repeat scroll 0% 0%;
        opacity: 1;
        right: 0;
        transition: all 0.25s ease-in-out 0s;
        transform: rotate(0deg);

        &:nth-child(1) {
          margin-top: 0;
        }

        &:nth-child(2) {
          margin-top: 5.5px * $hamsizemultiplier;
          margin-right: 0;
        }

        &:nth-child(3) {
          margin-top: 11px * $hamsizemultiplier;
        }
      }

      &.opened {
        span {
          &:nth-child(1) {
            transform: rotate(135deg);
            margin-top: 8px * $hamsizemultiplier;
          }

          &:nth-child(2) {
            opacity: 0;
            right: -$hambasewidth * 3;
          }

          &:nth-child(3) {
            transform: rotate(-135deg);
            margin-top: 8px * $hamsizemultiplier;
          }
        }
      }

      &.left {
        left: 8%;
      }
    }
  }

  .left_main_page {
    background: $bgcolor;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;

    &.animation {
      left: 0;
      background: $bgcolor;
      height: 100vh;
      position: fixed;
      top: 0;
      transition: all 0.3s ease-in-out;
    }

    .menu {
      li {
        .active {
          color: $mainColor;
        }

        a {
          display: block;
          margin: 30px 10px;
          text-align: center;
          color: $fontWhite;
          transition: all 0.3s;
          text-decoration: none;
          font-family: "Source Sans Pro";

          &:hover {
            color: $mainColor;
          }

          span {
            display: block;
            margin: 5px auto;
            font-size: 30px;
          }
        }
      }
    }
  }

  .middle_main_page {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    .main_text {
      .home {
        width: 650px;

        h1 {
          font-size: 42px;
          font-family: "Roboto Slab";
          border-bottom: 1px solid $fontWhite;
          color: $fontWhite;
          text-align: left;
        }

        em {
          display: block;
          font-size: 20px;
          text-align: right;
          color: $fontWhite;
          font-family: "Courgette";
        }

        p {
          margin-top: 30px;
          color: $fontWhite;
          line-height: 30px;
          font-family: "Source Sans Pro";
        }

        .home_button {
          float: right;
          margin-top: 30px;

          a {
            display: inline-block;
            padding: 15px;
            background: rgba(0, 0, 0, 0.3);
            color: $fontWhite;
            border: 1px solid $fontWhite;
            transition: all 0.3s;
            text-decoration: none;
            font-size: 20px;

            &:hover {
              background: rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
  }

  .right_main_page {
    position: absolute;
    top: 3%;
    right: 1.5%;


    .calendar {
      width: 90px;
      height: 110px;
      font-family: "Bree Serif";
      text-align: center;
      color: $fontWhite;
      border: 2px solid $fontWhite;
      padding: 10px;

      .month {
        font-size: 25px;
        line-height: 23px;
        margin-bottom: 0;
      }

      .day {
        font-size: 45px;
        line-height: 38px;
      }

      .year {
        font-size: 25px;
        line-height: 24px;
      }
    }
  }

  .navbar {
    position: fixed;
    top: 25%;
    right: 2.5%;
    height: 30vh;

    .progress_count {
      position: absolute;
      top: -65px;
      left: -10px;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 100px;
      color: $fontWhite;
      font-family: "Bree Serif";
    }

    .progress_bar {
      position: relative;
      left: 50%;
      margin-left: -2px;
      width: 3px;
      height: 124%;
      background-color: $bgWhite;
    }

    .progress-bar--incIntroduction {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -2px;
      height: 0;
      max-height: 125%;
      width: 3px;
      border-radius: 5px;
    }
  }

  .header_iconScroll {
    position: fixed;
    top: 65%;
    right: 2%;
    width: 21px;

    .iconScroll_arrow {
      display: block;
      height: 15px;
      border-right: 2px solid rgba(255, 255, 255, 0.8);
      border-bottom: 2px solid rgba(255, 255, 255, 0.8);
      margin: 0 0 2px 5px;
      transform: rotate(45deg);
      animation: mouse-scroll 1s infinite;
      animation-direction: alternate;
    }

    .iconScroll__arrow_first {
      margin-top: 6px;
      animation-delay: 0.1s;
    }

    .iconScroll__arrow_second {
      animation-delay: 0.2s;
    }

    .iconScroll__arrow_third {
      animation-delay: 0.3s;
    }

    .iconScroll_mouse {
      height: 42px;
      width: 24px;
      border: 2px solid rgba(255, 255, 255, 0.8);
      border-radius: 10px;
    }

    .iconScroll_wheel {
      height: 10px;
      width: 4px;
      margin: 5px auto 0;
      background: rgba(255, 255, 255, 0.8);
      animation: mouse-wheel 1.2s ease infinite;
      border-radius: 50%;
    }
  }
}