$background: #000;
$bgcolor: #121212;
$bgWhite: #ffffff;
$bgIcons: #f4f4f4;
$bgSkills: #eee;
$bgContact: rgba(0, 0, 0, 0.6);
$mainColor: #0099cc;
$fontWhite: #ffffff;
$quote: #999999;
$borderGrey: #2f2d2d;
$borderBlack: #000;
$borderImg: #424242;
$hambgcolor: white;
$hambasewidth: 15.5px;
$hamsizemultiplier: 2;