@font-face {
    font-family: 'Courgette';
    src: url("../fonts/courgette-regular-webfont.woff2") format("woff2"), url("../fonts/courgette-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  };

  @font-face {
    font-family: 'Roboto Slab';
    src: url("../fonts/robotoslab-regular-webfont.woff2") format("woff2"), url("../fonts/robotoslab-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  };

  @font-face {
    font-family: 'Source Sans Pro';
    src: url("../fonts/sourcesanspro-extralight-webfont.woff2") format("woff2"), url("../fonts/sourcesanspro-extralight-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  };

  @font-face {
    font-family: 'Bree Serif';
    src: url("../fonts/breeserif-regular-webfont.woff2") format("woff2"), url("../fonts/breeserif-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  };

  @font-face {
    font-family: 'Open Sans';
    src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  };

  @font-face {
    font-family: 'Abel';
    src: url("../fonts/abel-regular-webfont.woff2") format("woff2"), url("../fonts/abel-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  };